.reports-portlet {
	.lfr-table {
		width: 100%;

		tr {
			td, th {
				padding-bottom: 4px;
				width: 50%;
			}
		}
	}

	.report-parameters {
		padding-top: 4px;
	}

	.required {
		color: red;
	}

	.search-buttons {
		margin: 15px 0;
	}

	.search-table {
		margin: 10px 0;
	}

	.parameters-input-date {
		display: none;
	}
}